* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #444444;
    overflow:auto;
}
.navContainer {
    width:960px;
    margin:0 auto;
}
nav img {
    margin:10px 10px 10px 0;
}
.container {
    width:960px;
    margin:0 auto;
}
nav img{
    float:left;
}
nav ul {
    float:left;
}
nav ul li {
    display:inline-block;
    color:#828282;
    padding:40px;
}
.heroImg {
    margin-top:30px;
    margin-bottom:15px;
}
.threeUpImg {
    float:left;
    margin:15px 30px 30px 0;
}
.threeUpImg:last-child {
    margin-right:0px;
}
.threeUp {
    overflow: auto;
}
.featureContainer {
    overflow: auto;
}
.featureContainer img {
    float:left;
    margin: 0 0 30px 0;
}
.featureContainer div {
    float:left;
    width:46%;
    height:400px;
    margin: 0 0 30px 30px;
}
.featureContainer h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom:20px;
}
.featureContainer a {
    text-decoration:none;
}
.featureContainer p {
    overflow:scroll;
    height:298px;
    font-style:italic;
}
#button {
    margin-top:20px;
    height:40px;
    width:170px;
    background-color:black;
    color:white;
    text-align:center;
    padding-top:12px;
    font-style:normal;
}
footer {
    background-color: #444444;
    height:100px;
    margin-top:30px;
}
